@charset "utf=8";

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 1500px;

  height: 130px;
  margin: 0 auto;
}

#logo {
  width: 150px;

  height: 130px;
  float: left;
  margin: 5px 0 0 130px;
}

#logo>img {
  width: 100%;
  height: 100%
}

nav {
  width: 800px;
  height: 40px;
  float: left;
  margin: 50px 50px 0 30px;
  text-align: center;
}
.menu>li {
  float: left;
  width: 15%;
  text-align: center;
  line-height: 50px;
}

.menu>li>a {

  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

.menu>li>a:hover {
  color: grey;
}

.menu>ul>li {
  float: left;
  margin: 0px 50px;
}


.sub {
  width: 100%;
  height: 250px;
  background-color: #fff;
  display: none;
  color: #333;
  z-index: 3;
  position: relative;
}

.sub>li>a {
  display: block;
  font-size: 15px;

}

.sub>li>a:hover {
  background-color: #a8a6a6;
  color: #fff;
}







article {
  width: 250px;
  height: 40px;

  float: right;
  margin: 50px 30px 30px;
}

article>.box>a>img {
  width: 30px;
  height: 30px;
  float: left;
}

article .box>span {
  display: block;
  float: left;
  font-size: 11px;
  margin: 30px 0 0 0px;
}

article .box>span>a {
  text-decoration: none;
  color: #333;
}



#slider {
  width: 1500px;

  height: 430px;
  margin: 0 auto;
  position: relative;}

#slider>img {
  width: 100%;
  height: 100%;
}
.slide {width: 100%;}

.slide > li {width: 100%; height: 500px; position: absolute; left: 0; top:0;}

.slide > li > img {width: 100%; height: 100%;}

.slide li:not(:first-child) {display: none;}




section {
  width: 1500px;

  height: 2000px;
  margin: 0 auto;
}

#product1 {
  width: 1300px;
  height: 800px;

  margin: 90px 75px 0 90px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#product1>h1 {
  width: 100%;
  text-align: center;
}

#product1>p {
  width: 100%;
  text-align: center;
}

#product1>.md {
  width: 270px;
  height: 320px;

  margin: 20px;
  float: left;
}

#product1>.md>a>img {
  width: 100%;
  height: 80%
}

#product1>.md>p {
  font-size: small;
}



#product2 {
  width: 1300px;
  height: 400px;

  margin: 80px 75px 0 90px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#product2>h1 {
  width: 100%;
  text-align: center;
}

#product2>p {
  width: 100%;
  text-align: center;
}

#product2>.unique {
  width: 270px;
  height: 320px;

  margin: 20px;
  float: left;
}

#product2>.unique>a>img {
  width: 100%;
  height: 80%;
}

#product2>.unique>p {
  font-size: small;
}



#product3 {
  width: 1300px;
  height: 500px;

  margin: 80px 75px 0 90px;
  float: left;
}

#product3>h1 {
  text-align: center;
}

#product3>p {
  text-align: center;
  ;
}

#product3>.collection1 {
  width: 600px;
  height: 400px;
  margin: 30px 0 0 55px;
}

#product3>.collection1>img {
  width: 100%; height:100%;
}

#product3>.collection2 {
  width: 620px;
  height: 400px;

  float: right;
  margin: -380px 0 0 0px;
}


#product3>.collection2>h5>a {
  color: #666
}

.collection2_2 {
  width: 180px;
  height: 230px;

  margin: 45px 0 0 20px;
  float: left;
}

.collection2_2>a>img {
  width: 100%;
  height: 75%
}

.collection2_2>p {
  font-size: small;
}





footer {
  width: 100%;
  height: 230px;
  background-color: rgb(228, 228, 228);
  margin: 0 auto;
}

#intro {
  width: 1500px;
  height: 200px;

  margin: 0 auto;
}

#office {
  width: 1200px;
  height: 30px;
  float: left;

  margin: 10px 0 0 170px;
}

#bottomlogo {
  width: 150px;

  height: 95px;
  float: right;
  margin: 0 160px 0 0px;
}

#bottomlogo>img {
  width: 100%;
  height: 100%;
}

#office>ul>li {
  float: left;
  margin: 10px;
}

#incall {
  width: 1000px;
  height: 80px;
  float: left;

  margin: 20px 0 0 180px;
}

#adress {
  width: 750x;
  height: 30px;
  float: left;

  margin: 10px 110px 0 170px;
}

#adress>ul>li {
  float: left;
  margin: 10px;
}